[Unit]
Desctiption = clh-server
After=network.target postgresql.service
ConditionPathExists=/home/kenji/wc/clh-server

[Service]
ExecStart=/home/kenji/wc/clh-server/target/release/clh-server
Restart=yes
Type=simple

[Install]
WantedBy=multi-user.target
