[Unit]
Description = clh-server
After = network.target postgresql.service
ConditionPathExists = /home/kenji/wc/clh-server

[Service]
ExecStart = /home/kenji/wc/clh-server/target/release/clh-server
ExecStop = /bin/kill -INT ${MAINPID}
WorkingDirectory = /home/kenji/wc/clh-server
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
